@charset "utf-8";

/* customer index start */
.page-header{border: 0;font-size: 14px;}
.xs-coustomer-index form{margin: 0;}
#condition{width: auto;}
.index-tab ul{margin: 0;padding: 0;list-style: none;}
.index-tab .index-tab-title ul li{display: inline-block;height: 35px;line-height: 35px;}
.contacts-index form{margin: 0;}

.xs-coustomer-view-tab{border: 1px solid #EBF1F1;border-bottom:0;}
.xs-coustomer-view-tab .col-12{ border-bottom: 1px solid #EBF1F1;}
.xs-coustomer-view-tab .col-6{width: 50%;float: left;}
.xs-coustomer-view-tab .col-12:hover{background:#F5F5F5; border-bottom: 1px solid #EBF1F1;}
.xs-coustomer-view-tab .col-12:after{content: "";display: table;clear: both;}
.xs-coustomer-view-tab span{width: 30%;background: #F5F5F5;display: inline-block;height: 30px;line-height: 30px;text-align: right;padding-right: 5px;margin-right: 5px;}
.xs-coustomer-view .tab2-contact ul:after{content: "";clear: both;display: table;}
.xs-coustomer-view .tab2-contact ul li{float: left;list-style: none;width: 16%;line-height: 25px;width: 16.66%;display: inline-block;min-height: 1px;word-wrap:break-word;}
.xs-coustomer-view .tab2-contact ul li a{width: 100%;word-wrap:break-word;}
@media screen and  (max-width: 640px){
    thead{display: none;}
    /* customer index start */
    .page-header .nav-tabs li a{font-size: 12px;height: 22px;}
    .page-header .nav-tabs > li > a{padding:5px 5px;text-align: center;}
    .page-header .nav-tabs > li.active a{border: 0;background: rgba(0,0,0,0)}
    .page-header .nav-tabs > li.active{background: #ccc;border-radius: 5px;}
    .customer-index-view p span{display: block;}
    .customer-index-view p a{line-height: 30px;font-size: 12px;}
    .xs-coustomer-index li{margin-top: 5px;}
    .xs-coustomer-index-1 a{padding:4px 2px;margin-left: 0; font-size: 12px;}
    .xs-coustomer-index-2 select{padding: 4px 2px;font-size: 12px;}
    .xs-coustomer-index-search input{width: 55%;}
    .xs-coustomer-li{width: 100%;}
    #conditionContent{width: 20%;}
    #condition{width: 100%;}
    .xs-index-hide{display: none;}
    .xs-coustomer-send .btn-group a{padding: 5px 10px;margin-left: 0px;margin-right: 10px}
    .xs-pull-left{float: left;}
    .xs-pull-left a,.xs-pull-left button{margin-left: 0px;margin-right: 10px;}
    .index-info-tab thead tr th:nth-child(1),.index-info-tab tr th:nth-child(3),.index-info-tab tbody tr td:nth-child(1){display: none;}
    .index-info-tab .pagination span,.index-info-tab .pagination a{padding: 0px 2px;font-size: 12px}
    .index-info-tab .pagination select{height: 20px;line-height: 20px;padding-top: 0}
    .index-info-tab .pagination span{margin: 5px 0}
    /* customer index end */


    /* contact index start */
    .page-header .nav-tabs li {font-size: 12px;height: 32px;}
    .customer-index-view span.xs-hide,.xs-hide{display: none;}
    .xs-add-style{margin-left: 25px;}
    .xs-contacts-index li{margin-top: 5px;}
    .contacts-index .xs-pull-left{float: left;}
    .contacts-index-tab thead tr th:nth-child(1),.contacts-index-tab tbody tr td:nth-child(1),.contacts-index-tab thead tr th:nth-child(5){display: none;}
    .contacts-index-tab .pagination span,.index-info-tab .pagination a{padding: 0px 2px;font-size: 12px}
    .contacts-index-tab .pagination select{height: 20px;line-height: 20px;padding-top: 0}
    .contacts-index-tab .pagination span{margin: 5px 0}
    .contacts-index #conditionContent{width: 20%;}
    .contacts-index #conditionContent select{width: 100%;}
    .contacts-index #searchContent input{width: 50%;}
    .xs-contacts-send .btn-group a{padding: 5px 10px;margin-left: 0px;}
    .xs-contacts-send .xs-add-style{margin-left: 0px;float: left;}
    .page-header{border: 0;font-size: 14px;}
    .contacts-index form{margin: 0;}
    .contacts-index #condition{width: auto;}
    /* contact index end */

    /* customer cares start */
    .xs-customer-cares li{margin-top: 5px;}
    .xs-customer-cares #searchContent input{width: 50%;}
    .xs-pull-left{float: left;}
    .cares-customer-tab thead tr th:nth-child(1),.cares-customer-tab tr th:nth-child(3),.cares-customer-tab tbody tr td:nth-child(1){display: none;}
    .cares-customer-tab .pagination span,.index-info-tab .pagination a{padding: 0px 2px;font-size: 12px}
    .cares-customer-tab .pagination select{height: 20px;line-height: 20px;padding-top: 0}
    .cares-customer-tab .pagination span{margin: 5px 0}

    /* customer cares end */

    /* customer analytics start */
    .xs-customer-analytics li{margin-top: 5px;}
    .xs-customer-analytics-selectdate input{width: 140px;}
    .xs-customer-analytics-selectdate span{display: block;margin-bottom: 5px;}
    .xs-customer-analytics-selectdate span:nth-child(2),.xs-customer-analytics-selectdate span:nth-child(3){margin-left: 65px;}
    .xs-customer-analytics-selectdate button{margin-left: 0px;}
    /* customer analytics end */


    /* customer view start */
    .xs-customer-view-title a{margin: 0;padding: 4px 6px;}
    .xs-coustomer-view .col-12,.xs-coustomer-view .col-6{width: 100%;}
    .xs-coustomer-view-tab span{width: 35%;}
    .xs-coustomer-view .tab-content{overflow: hidden;}
    .xs-coustomer-view .tab2-contact ul li{width: 25%;}




}

