
.col-12-item:after{content: "";display: table;min-height: 1px;}
.col-12-item:after{content: "";clear: both;}
.col-12-item{border-bottom: #EBF1F1 solid 1px;}
.col-12-item:hover{background: #F5F5F5}
.col-6{float: left;width: 50%;height: 37px;}
.col-12 label{width: 169px;}
.col-12{height: 37px;line-height: 37px;border-bottom: 1px solid #F5F5F5;}

.col-12-info >label{height: 120px;vertical-align: top;width: 169px;}


@media screen and  (max-width: 640px){
    .col-6{float: left;width: 100%;height: auto;}
    .col-6-1 input{width: 70px;}
    .col-6-1 input:last-child{padding-left:0px;padding-right: 0;margin-left: 2px;}
    input,select{width: 90px;}
    .col-12-item label{width: 80px;}
    .col-12{height: auto;}
    .hide-xs{display: none;}
    .col-12-info >label{height: 120px;vertical-align: top;width: 169px;}
    .col-12-info label{width: 80px;}
    .col-12-info select#no_of_employees{width: 100px;}
    #description{width: 150px;display: inline;}
}